/* your styles go here */
button.title-btn{
    background-color: white;
    color: black;
    border: none;
    font-size: 40px;
}

.mytitle{
    text-align: center;
}

.question form{
    padding-left: 30px;
}

.question .mytext{
    width: 70%
}

.question li{
    list-style: none;
}

.question td{
    text-align: center;
    width: 8%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.question th{
    text-align: center;
    width: 25%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.question button{
    margin: 10px;
    width: 50px;
}

.setting{
    display: none;
}

.setting .title{
    width: 100%;
}

.setting li{
    list-style: none;
}

.setting .op{
    height: 30px;
}

.setting button{
    margin-left: 10px;
}

.multiple-text .question ul{
    padding-left: 0;
}

.multiple-text .mytext{
    margin-left: 30px;
}

#content{
    background-color: #f6f6f6;
}

#content .bar{
    padding-top: 30px;
    /* margin-top: 10px; */
    margin-left: 50px;
    margin-right: 50px;
}

#content .mycontent{
    background-color: white;
    padding: 30px;
}

#content .col-lg-3{
    padding-left: 40px;
}

#choosetype{
    text-align: center;
}

#choosetype select{
    width: 35%;
    margin: 20px;
    padding: 10px;
    
}

#save{
    text-align: right;
}

